@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
html {
  scroll-behavior: smooth;
}

body {
  font-family: DM sans, sans-serif;
  font-weight: 400;
  letter-spacing: 0.04em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section__title {
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
  margin-top: 15;
}
@media screen and (min-width: 768px) {
  .section__title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 58px;
    line-height: 1.14;
  }
}

.section-subtitle {
  margin: 0;
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .section-subtitle {
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .section-subtitle {
    font-size: 30px;
    line-height: 1.13;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 319px) {
  .container {
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 77px;
    padding-right: 77px;
  }
}

.visually-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  position: relative;
}
@media screen and (min-width: 768px) {
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu-btn {
  z-index: 10;
  display: inline-flex;
  position: absolute;
  top: 19px;
  right: 0;
  background-color: inherit;
  border: none;
  padding: 0;
}

.menu-close__icon {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  stroke: #fff;
  opacity: 0;
}

.menu-burger__icon {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-btn.is-opened {
    top: -14px;
  }
}
.menu-btn.is-opened .menu-burger__icon {
  opacity: 0;
}
.menu-btn.is-opened .menu-close__icon {
  opacity: 1;
}

@media screen and (min-width: 1200px) {
  .menu-btn {
    display: none;
  }
}

.buynow-btn {
  border: none;
  padding: 0;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
  color: #d41443;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
}
.buynow-btn:hover, .buynow-btn:focus {
  background-color: #ecebeb;
}
@media screen and (max-width: 767px) {
  .buynow-btn--hidden {
    width: 209px;
    margin-bottom: 34px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .buynow-btn--hidden {
    width: 186px;
    margin-left: 10px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .buynow-btn--hidden {
    width: 159px;
    margin-left: 110px;
  }
}
.buynow-btn--tablet {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .buynow-btn--tablet {
    display: flex;
    width: 160px;
    margin-right: 30px;
    z-index: 9;
  }
}

.buynow-icon {
  margin-left: 28px;
  stroke: #d41443;
}
@media screen and (min-width: 768px) {
  .buynow-icon {
    margin-left: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .buynow-icon {
    margin-left: 13px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-list {
    display: flex;
    justify-content: space-between;
    width: 541px;
  }
}

.nav-link {
  display: inline-block;
  color: #fff;
  letter-spacing: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover, .nav-link:focus {
  color: #d41443;
}
@media screen and (min-width: 1200px) {
  .nav-link {
    padding-top: 10px;
    font-size: 16px;
    line-height: 1.31;
  }
}

@media screen and (max-width: 1199px) {
  .nav-item:not(:last-child) {
    margin-bottom: 22px;
  }
}

.menu-box {
  z-index: 9;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .menu-box {
    opacity: 0;
    position: absolute;
    box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.25);
    background-color: #e17992;
  }
}
@media screen and (max-width: 767px) {
  .menu-box {
    top: -6px;
    transform: translateX(130%);
    width: 250px;
    height: 502px;
    padding-top: 58px;
    padding-left: 21px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-box {
    z-index: 9;
    top: -37px;
    transform: translateX(300%);
    width: 254px;
    height: 1020px;
    padding-top: 60px;
    padding-left: 24px;
  }
}
@media screen and (max-width: 1199px) {
  .menu-box .buynow-btn--hidden {
    display: none;
  }
  .menu-box nav {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-box {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 0;
    margin-left: auto;
    align-items: center;
  }
}

.menu-box.is-opened {
  display: block;
  opacity: 1;
  transform: translateX(20%);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-box.is-opened {
    transform: translateX(190%);
  }
}
@media screen and (max-width: 1199px) {
  .menu-box.is-opened .buynow-btn--hidden {
    display: block;
  }
  .menu-box.is-opened nav {
    display: block;
  }
}

.hero-container {
  position: relative;
  padding-top: 6px;
  height: 502px;
}
@media screen and (min-width: 768px) {
  .hero-container {
    padding-top: 37px;
    height: 399px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container {
    height: 665px;
  }
}

.hero {
  overflow: hidden;
  width: 100%;
  background-color: #ffb8ca;
}

.header-logo {
  display: inline-flex;
  align-items: center;
}
.header-logo__text {
  font-family: Titan One;
  color: #d41443;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.15;
  margin-left: 20px;
}
@media screen and (min-width: 1200px) {
  .header-logo {
    position: absolute;
    left: -70px;
    top: 0;
  }
}

.page-title {
  position: absolute;
  top: 193px;
  z-index: 2;
  font-family: Titan One;
  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;
  color: #ffffff;
  width: 218px;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .page-title {
    width: 162px;
    height: 80px;
    left: 34px;
    top: 102px;
    font-size: 22px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1200px) {
  .page-title {
    width: 277px;
    height: 137px;
    left: 77px;
    top: 171px;
    font-size: 38px;
    line-height: 1.13;
  }
}
.page-title__accented {
  font-size: 48px;
  line-height: 0.96;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .page-title__accented {
    font-size: 34px;
    line-height: 1.09;
  }
}
@media screen and (min-width: 1200px) {
  .page-title__accented {
    font-size: 58px;
    line-height: 0.91;
  }
}

.icecream-box {
  position: absolute;
  right: 32px;
  bottom: 0;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .icecream-box {
    width: 143px;
    height: 336px;
    left: 378px;
    top: 63px;
  }
}
@media screen and (min-width: 1200px) {
  .icecream-box {
    width: 236px;
    height: 557px;
    left: 524px;
    top: 108px;
  }
}
.icecream-box::before {
  display: inline-block;
  content: "";
  z-index: -5;
  position: absolute;
  top: -9px;
  left: -81px;
  display: inline-block;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .icecream-box::before {
    width: 324px;
    height: 322px;
    left: -71px;
    top: -32px;
  }
}
@media screen and (min-width: 1200px) {
  .icecream-box::before {
    width: 538px;
    height: 538px;
    left: -119px;
    top: -56px;
  }
}

.header-buttons__container {
  position: absolute;
  top: 318px;
  display: flex;
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .header-buttons__container {
    top: 202px;
  }
}
@media screen and (min-width: 1200px) {
  .header-buttons__container {
    top: 334px;
    left: 77px;
  }
}

.hero-prod__btn {
  border: none;
  padding: 0;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #d41443;
  color: #fff;
  cursor: pointer;
  font-size: 8px;
  line-height: 1.25;
  margin-right: 8px;
  width: 63px;
  height: 24px;
}
.hero-prod__btn:hover, .hero-prod__btn:focus {
  background-color: #c7133e;
}
@media screen and (min-width: 768px) {
  .hero-prod__btn {
    width: 61.2px;
    height: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-prod__btn {
    font-size: 14px;
    line-height: 1.29;
    width: 102px;
    height: 40px;
  }
}

.hero-made__btn {
  border: none;
  padding: 0;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
  color: #d41443;
  cursor: pointer;
  font-size: 8px;
  line-height: 1.25;
  width: 83px;
  height: 24px;
}
.hero-made__btn:hover, .hero-made__btn:focus {
  background-color: #ecebeb;
}
@media screen and (min-width: 768px) {
  .hero-made__btn {
    width: 82.8px;
    height: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-made__btn {
    font-size: 14px;
    line-height: 1.29;
    width: 138px;
    height: 40px;
  }
}

.milk-box {
  display: none;
}
@media screen and (min-width: 768px) {
  .milk-box {
    display: block;
    position: absolute;
    width: 124px;
    height: 126px;
    left: 34px;
    top: 245px;
  }
}
@media screen and (min-width: 1200px) {
  .milk-box {
    width: 188px;
    height: 191px;
    left: 27px;
    top: 429px;
  }
}

.hero-text {
  display: none;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .hero-text {
    display: block;
    position: absolute;
    width: 114px;
    left: 154px;
    top: 292px;
    letter-spacing: 0;
    font-size: 8px;
    line-height: 150%;
    color: #ffffff;
  }
}
@media screen and (min-width: 1200px) {
  .hero-text {
    font-size: 14px;
    line-height: 140%;
    width: 200px;
    left: 235px;
    top: 485px;
  }
}

.arrow-box {
  display: none;
  border-radius: 50%;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .arrow-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 347px;
    left: 154px;
  }
}
@media screen and (min-width: 1200px) {
  .arrow-box {
    width: 26px;
    height: 26px;
    left: 235px;
    top: 583px;
  }
}

.woman-box {
  display: none;
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .woman-box {
    display: block;
    position: absolute;
    width: 168px;
    height: 133px;
    left: 566px;
    top: 266px;
  }
}
@media screen and (min-width: 1200px) {
  .woman-box {
    width: 293px;
    height: 232px;
    left: 803px;
    top: 433px;
  }
}

.cafe16 {
  display: none;
  z-index: 5;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .cafe16 {
    display: block;
    position: absolute;
    height: 32px;
    right: 34px;
    top: 96px;
    font-family: Titan One;
    font-size: 28px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #d41443;
  }
}
@media screen and (min-width: 1200px) {
  .cafe16 {
    height: 53px;
    top: 160px;
    right: 77px;
    font-size: 46px;
    line-height: 1.15;
  }
}

.cafe {
  margin: 0;
  display: none;
}
.cafe::before {
  position: absolute;
  top: -35px;
  right: -5px;
  z-index: 0;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
}
@media screen and (min-width: 1200px) {
  .cafe::before {
    width: 30px;
    height: 30px;
    top: -60px;
    right: -10px;
  }
}
@media screen and (min-width: 768px) {
  .cafe {
    display: block;
    position: absolute;
    height: 10px;
    right: 34px;
    top: 128px;
    font-size: 8px;
    line-height: 1.25;
    color: #ffffff;
  }
}
@media screen and (min-width: 1200px) {
  .cafe {
    height: 18px;
    top: 215px;
    right: 77px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.food23 {
  display: none;
  z-index: 5;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .food23 {
    display: block;
    position: absolute;
    height: 32px;
    right: 34px;
    top: 152px;
    font-family: Titan One;
    font-size: 28px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #d41443;
  }
}
@media screen and (min-width: 1200px) {
  .food23 {
    height: 53px;
    top: 251px;
    right: 77px;
    font-size: 46px;
    line-height: 1.15;
  }
}

.food {
  margin: 0;
  display: none;
}
.food::before {
  position: absolute;
  top: -35px;
  right: -5px;
  z-index: 0;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
}
@media screen and (min-width: 1200px) {
  .food::before {
    width: 30px;
    height: 30px;
    top: -60px;
    right: -10px;
  }
}
@media screen and (min-width: 768px) {
  .food {
    display: block;
    position: absolute;
    height: 10px;
    right: 34px;
    top: 184px;
    font-size: 8px;
    line-height: 1.25;
    color: #ffffff;
  }
}
@media screen and (min-width: 1200px) {
  .food {
    height: 18px;
    top: 306px;
    right: 77px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.header-arrow {
  fill: #d41443;
}

.products {
  padding-top: 121px;
  padding-bottom: 98px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products {
    padding-top: 122px;
    padding-bottom: 112px;
  }
}
@media screen and (min-width: 1200px) {
  .products {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.product {
  position: relative;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 24px;
  text-align: center;
}
.product:first-child {
  background-color: #ffb8ca;
}
.product:nth-child(2) {
  background-color: #f0d1a5;
}
.product:last-child {
  background-color: #c2e297;
}
.product:hover {
  transform: scale(1.07);
}
@media screen and (max-width: 767px) {
  .product {
    width: 280px;
    padding-bottom: 41px;
    padding-top: 161px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .product:not(:last-child) {
    margin-bottom: 130px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .product {
    width: 220px;
    padding-bottom: 40px;
    padding-top: 152px;
    padding-left: 11px;
    padding-right: 11px;
  }
}
@media screen and (min-width: 1200px) {
  .product {
    width: 335px;
    padding-bottom: 50px;
    padding-top: 163px;
    padding-left: 44px;
    padding-right: 44px;
  }
}

.products .section-subtitle {
  display: block;
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .products .section-subtitle {
    font-size: 18px;
    line-height: 21px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products .section-subtitle {
    font-size: 26px;
    line-height: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .products .section-subtitle {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
  }
}

.products .section__title {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
@media screen and (max-width: 767px) {
  .products .section__title {
    margin-bottom: 144px;
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products .section__title {
    margin-bottom: 150px;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.04em;
    width: 283px;
  }
}
@media screen and (min-width: 1200px) {
  .products .section__title {
    margin-bottom: 259px;
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.06em;
    width: 350px;
  }
}

.products-list {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .products-list {
    display: flex;
    justify-content: space-between;
  }
}

.product-name {
  font-family: Titan One;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .product-name {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
  }
}

.products-separator {
  width: 26px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.separation-circle {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}

.product-description {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .product-description {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .product-description {
    margin-top: 30px;
    margin-bottom: 40px;
    line-height: 1.76;
  }
}
@media screen and (min-width: 1200px) {
  .product-description {
    margin-top: 30px;
    margin-bottom: 62px;
    font-size: 16px;
    line-height: 1.76;
  }
}

.product-image__container {
  position: absolute;
  top: -116px;
  left: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .product-image__container {
    width: 100%;
    left: 0;
    top: -100px;
    height: 224;
  }
}
@media screen and (min-width: 1200px) {
  .product-image__container {
    width: 100%;
    left: 0;
    top: -200px;
    height: 335;
  }
}

.product-btn {
  border: none;
  padding: 0;
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.product-button {
  fill: #d41443;
}

@media screen {
  .dolore {
    display: none;
  }
}

.making-section {
  background-color: #fff5f6;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media screen and (max-width: 767px) {
  .making-section {
    padding-top: 125px;
    padding-bottom: 97px;
    background-image: url(/milk-background@1x.bb2a46ae.png);
  }
}
@media screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .making-section {
    background-image: url(/milk-background@2x.e2d8f3ee.png);
  }
}
@media screen and (min-width: 768px) {
  .making-section {
    padding-top: 130px;
    padding-bottom: 242px;
  }
}
@media screen and (min-width: 1200px) {
  .making-section {
    padding-top: 125px;
    padding-bottom: 300px;
    background-image: url(/milk-background@1x.5ceda0c7.png);
  }
}
@media screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .making-section {
    background-image: url(/milk-background@2x.72e39ce0.png);
  }
}

.making-section .section__title {
  margin-bottom: 0;
  margin-top: 15px;
}

@media screen and (max-width: 767px) {
  .making-picture {
    margin-top: 26px;
  }
}
@media screen and (min-width: 768px) {
  .making-picture {
    width: 340px;
  }
}
@media screen and (min-width: 1200px) {
  .making-picture {
    width: 516px;
  }
}

@media screen and (min-width: 768px) {
  .flex-container {
    display: flex;
    margin-top: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .flex-container {
    margin-top: 55px;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .making-describe {
    padding: 0 30px;
    margin-top: 46px;
  }
}
@media screen and (min-width: 768px) {
  .making-describe {
    margin-top: 50px;
    margin-left: 17px;
    width: 343px;
  }
}
@media screen and (min-width: 1200px) {
  .making-describe {
    width: 463px;
    margin-top: 60px;
    margin-left: 74px;
  }
}

.making-describe p {
  font-weight: 500;
  font-style: normal;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .making-describe p {
    font-size: 12px;
    line-height: 1.58;
  }
}
@media screen and (min-width: 768px) {
  .making-describe p {
    font-size: 14px;
    line-height: 1.79;
  }
}
@media screen and (max-width: 1199px) {
  .making-describe p {
    letter-spacing: normal;
  }
}
@media screen and (min-width: 1200px) {
  .making-describe p {
    line-height: 1.93;
  }
}

@media screen and (min-width: 768px) {
  .br {
    display: none;
  }
}

.making-describe .making-begin {
  color: #000000;
  display: block;
}
@media screen and (min-width: 1200px) {
  .making-describe .making-begin {
    font-size: 16px;
  }
}

.making-describe .making-middle {
  margin-top: 30px;
  color: #907e82;
}
@media screen and (min-width: 768px) {
  .making-describe .making-middle {
    letter-spacing: inherit;
  }
}
@media screen and (min-width: 1200px) {
  .making-describe .making-middle {
    margin-top: 35px;
  }
}

.making-describe .making-result {
  margin-top: 15px;
  color: #907e82;
}
@media screen and (min-width: 1200px) {
  .making-describe .making-result {
    margin-top: 30px;
  }
}

.making-button {
  border: none;
  padding: 0;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
  color: #d41443;
  cursor: pointer;
  margin-top: 20px;
  width: 176px;
  height: 44px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
}
.making-button:hover, .making-button:focus {
  background-color: #ecebeb;
}
@media screen and (max-width: 767px) {
  .making-button {
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .making-button {
    margin-top: 55px;
  }
}
@media screen and (min-width: 1200px) {
  .making-button {
    margin-top: 40px;
  }
}

.making-arrow {
  stroke: #d41443;
  margin-left: 13px;
}

@media screen and (max-width: 767px) {
  .making-statistical {
    margin-top: 39px;
  }
}
@media screen and (min-width: 768px) {
  .making-statistical {
    display: flex;
    margin-top: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .making-statistical {
    margin-top: 39px;
  }
}

.li-title,
.li-description {
  margin: 0;
}

.li-title {
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #d41443;
}
@media screen and (max-width: 767px) {
  .li-title {
    font-size: 36px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 768px) {
  .li-title {
    font-size: 48px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .li-title {
    font-size: 58px;
    line-height: 1.14;
  }
}

.making-volume .li-title::before {
  content: "";
  width: 33px;
  height: 50px;
  display: block;
  background-image: url(/bucket-milk.00dc0a46.svg);
  background-size: contain;
}
@media screen and (max-width: 767px) {
  .making-volume .li-title::before {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .making-volume .li-title::before {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .making-volume .li-title::before {
    margin-bottom: 40px;
  }
}

.making-weight .li-title::before {
  content: "";
  width: 50px;
  height: 50px;
  display: block;
  background-image: url(/bucket-apple.b22589eb.svg);
  background-size: contain;
}
@media screen and (max-width: 767px) {
  .making-weight .li-title::before {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .making-weight .li-title::before {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .making-weight .li-title::before {
    margin-bottom: 40px;
  }
}

.making-number .li-title::before {
  content: "";
  width: 44px;
  height: 50px;
  display: block;
  background-image: url(/sweets.ae05f5b3.svg);
  background-size: contain;
}
@media screen and (max-width: 767px) {
  .making-number .li-title::before {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .making-number .li-title::before {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .making-number .li-title::before {
    margin-bottom: 40px;
  }
}

.li-description {
  margin-top: 20px;
  font-weight: 700;
  color: #000000;
}
@media screen and (max-width: 767px) {
  .li-description {
    font-size: 12px;
    line-height: 1.67;
    width: 230px;
    letter-spacing: normal;
  }
}
@media screen and (min-width: 768px) {
  .li-description {
    font-size: 14px;
    line-height: 1.71;
    width: 180px;
    letter-spacing: normal;
  }
}
@media screen and (min-width: 1200px) {
  .li-description {
    font-size: 16px;
    line-height: 1.75;
    width: 330px;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .making-statistical li + li {
    margin-top: 38px;
  }
}
@media screen and (min-width: 768px) {
  .making-statistical li + li {
    margin-left: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .making-statistical li + li {
    margin-left: 30px;
  }
}

.reviews-gallery {
  margin-top: -43px;
}
@media screen and (min-width: 768px) {
  .reviews-gallery {
    margin-top: -96px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews-gallery {
    margin-top: -145px;
  }
}

/* Лента слайдов */
.slick-track {
  display: flex;
  justify-content: center;
}

.slider {
  position: relative;
  overflow: hidden;
  margin-top: 80px;
}
@media screen and (min-width: 768px) {
  .slider {
    margin-top: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .slider {
    margin-top: 125px;
  }
}

.slider .slick-arrow {
  position: absolute;
  bottom: 50%;
  padding: 0;
  margin: 0;
  font-size: 0;
  z-index: 10;
  width: 35px;
  height: 35px;
  border-radius: 4px;
  border: 1px solid #fff5f6;
  outline: none;
  cursor: pointer;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background-image: url("/left-arrow.bb647349.svg");
  background-color: transparent;
  transform: scale(1);
  transition: transform 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.slider .slick-arrow.slick-prev:hover {
  transform: scale(1.3);
}
.slider .slick-arrow.slick-prev:focus {
  transform: scale(1.3);
}

.slider .slick-arrow.slick-next {
  right: 0;
  background-image: url("/right-arrow.7571631f.svg");
  background-color: transparent;
  transform: scale(1);
  transition: transform 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.slider .slick-arrow.slick-next:hover {
  transform: scale(1.3);
}
.slider .slick-arrow.slick-next:focus {
  transform: scale(1.3);
}

.slider .slick-dots {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.slider .slick-dots li:not(:last-child) {
  margin-right: 18px;
}
.slider .slick-dots li {
  width: 12px;
  height: 12px;
  display: inline-flex;
}

.slick-dots li button {
  font-size: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border-color: transparent;
  background-color: #d9d9d9;
  outline: none;
  transform: scale(1);
  transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slick-dots li.slick-active button {
  background-image: url("/home.e6ec330e.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border-radius: 20%;
  transform: scale(1.2);
}

.slider__item .text-box {
  position: relative;
  max-width: 926px;
  min-height: 138px;
  margin: 0 auto;
  padding: 40px 57px;
}

.slider__item .text-slide {
  margin: 0;
  background-image: repeating-linear-gradient(0deg, #e1e1e1 0 1px, transparent 1px 31px);
  font-weight: 500;
  font-size: 12px;
  line-height: 265%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .slider__item .text-slide {
    font-size: 14px;
    line-height: 216%;
  }
}
@media screen and (min-width: 1200px) {
  .slider__item .text-slide {
    font-size: 16px;
    line-height: 186%;
  }
}

.text-box::before {
  position: absolute;
  left: 50px;
  top: 25px;
  content: "";
  display: block;
  width: 54px;
  height: 40px;
  background-image: url("/quote.d1025c9c.png");
  z-index: -1;
}

.slider__item .points {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.points > .points-icon {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #c7133e;
}
.points > .points-icon:not(:last-child) {
  margin-right: 10px;
}

.slider__item .slide-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 186%;
}
.slider__item .slide-subtitle .slide-subtitle-item {
  margin-top: 0;
  margin-bottom: 35px;
  text-align: center;
}

.slider__item img {
  margin: 0 auto;
  width: 85px;
  height: 85px;
}

.schedule {
  position: relative;
  color: #907e82;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  padding-top: 86px;
  padding-bottom: 113px;
}
@media screen and (min-width: 768px) {
  .schedule {
    padding-top: 119px;
    padding-bottom: 158px;
  }
}
@media screen and (min-width: 1200px) {
  .schedule {
    padding-top: 132px;
    padding-bottom: 165px;
  }
}

.container-schedule {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 319px) {
  .container-schedule {
    max-width: 320px;
    padding: 0 50px;
  }
}
@media screen and (min-width: 320px) {
  .container-schedule {
    width: 320px;
    padding: 0 50px;
  }
}
@media screen and (min-width: 768px) {
  .container-schedule {
    width: 768px;
    padding: 0 36px;
  }
}
@media screen and (min-width: 1200px) {
  .container-schedule {
    width: 1200px;
    padding: 0 115px;
  }
}

.schedule::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  background-color: #fff5f6;
  z-index: 1;
  width: 100%;
  height: 1515px;
}
@media screen and (min-width: 768px) {
  .schedule::before {
    height: 658px;
  }
}
@media screen and (min-width: 1200px) {
  .schedule::before {
    height: 650px;
    background-image: url(/sectionbg-schedule@2x.e1a6209a.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
  }
}

.schedule-item {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .schedule-item {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}
.schedule-item:nth-child(3n) {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}

.card-title {
  display: inline-block;
  border-radius: 4px;
  color: #ffffff;
  background-color: #f0d1a5;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0 25px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
}
@media screen and (min-width: 768px) {
  .card-title {
    margin-bottom: 30px;
  }
}

.schedule-cards {
  margin-bottom: 54px;
}
@media screen and (min-width: 768px) {
  .schedule-cards {
    display: flex;
    margin-bottom: 81px;
  }
}
@media screen and (min-width: 1200px) {
  .schedule-cards {
    justify-content: center;
    margin-bottom: 86px;
  }
}

.schedule-card {
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  width: 220px;
  padding: 43px 20px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.schedule-card:nth-child(2) .card-title {
  background-color: #c2e297;
}
@media screen and (max-width: 767px) {
  .schedule-card:not(:last-child) {
    margin-bottom: 20px;
  }
}
.schedule-card:hover {
  transform: scale(1.07);
}
@media screen and (min-width: 768px) {
  .schedule-card {
    padding: 50px 31px;
  }
  .schedule-card:not(:last-child) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .schedule-card {
    width: 330px;
    padding: 51px 43px 62px;
    margin-right: 30px;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .schedule-card:nth-child(3n) {
    margin-right: 0;
  }
  .schedule-card:hover {
    transform: scale(1.07);
  }
}

.item-city {
  display: block;
  color: black;
  font-size: 12px;
  line-height: 1.86;
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .item-city {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .item-city {
    font-size: 16px;
  }
}

.item-title {
  color: black;
  line-height: 1.86;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .item-title {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .item-title {
    font-size: 16px;
  }
}

.paragraph-time {
  color: #ffa5ba;
  line-height: 1.83;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .paragraph-time {
    font-size: 14px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1200px) {
  .paragraph-time {
    font-size: 16px;
    line-height: 1.87;
  }
}
.paragraph-time--first {
  margin-bottom: 10px;
}

.paragraph-address {
  color: #907e82;
  font-weight: 500;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .paragraph-address {
    font-size: 14px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1200px) {
  .paragraph-address {
    font-size: 16px;
    line-height: 1.81;
  }
}

@media screen and (max-width: 767px) {
  .schedule-buttons {
    width: 161px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .schedule-buttons {
    display: flex;
    justify-content: center;
  }
}

.schedule-button:nth-child(2n) {
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .schedule-button:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .schedule-button:first-child {
    margin-right: 15px;
  }
}

.schedule-locations_btn {
  border: none;
  padding: 0;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #d41443;
  color: #fff;
  cursor: pointer;
  width: 161px;
}
.schedule-locations_btn:hover, .schedule-locations_btn:focus {
  background-color: #c7133e;
}
@media screen and (min-width: 768px) {
  .schedule-locations_btn {
    width: 191px;
  }
}
@media screen and (min-width: 1200px) {
  .schedule-locations_btn {
    width: 198px;
  }
}

.schedule-franshise_btn {
  border: none;
  padding: 0;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
  color: #d41443;
  cursor: pointer;
  width: 161px;
}
.schedule-franshise_btn:hover, .schedule-franshise_btn:focus {
  background-color: #ecebeb;
}
@media screen and (min-width: 768px) {
  .schedule-franshise_btn {
    width: 174px;
  }
}
@media screen and (min-width: 1200px) {
  .schedule-franshise_btn {
    width: 180px;
  }
}

.button-schedule {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
}

.schedule-arrow {
  margin-left: 15px;
  stroke: currentColor;
}
.schedule-arrow--white {
  stroke: #ffffff;
}

.footer-bg {
  background-color: #fff5f6;
}

@media screen and (min-width: 768px) {
  .footer-bg .container {
    display: flex;
  }
}

.footer-bg .box-inner {
  margin-bottom: 43px;
}
@media screen and (min-width: 768px) {
  .footer-bg .box-inner {
    width: 300px;
    display: inline-block;
    margin-left: auto;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-bg .box-inner {
    width: 335px;
  }
}

.footer-subtitle {
  display: block;
  margin-bottom: 16px;
  font-size: 18px;
  color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .footer-subtitle {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subtitle {
    font-size: 30px;
  }
}

.footer-title {
  max-width: 234px;
  margin-top: 0;
  margin-bottom: 43px;
  font-family: Titan One;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.14;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .footer-title {
    max-width: 340px;
    margin-bottom: 91px;
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-title {
    max-width: 474px;
    margin-bottom: 97px;
    font-size: 58px;
  }
}

.footer-social {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 46px;
}

.footer-social .social-link:hover,
.footer-social .social-link:focus {
  background-color: #d41443;
}

.footer-social .social-list:not(:last-child) {
  margin-right: 28px;
}

.footer-social .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fea5bb;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social .social-item {
  fill: #ffffff;
  display: block;
  width: 20px;
  height: 20px;
}

.footer-address {
  display: block;
}

.footer-contact {
  display: block;
  text-align: right;
  font-style: normal;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .footer-contact {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contact {
    font-size: 16px;
  }
}

.footer-contact .contact-link {
  font-weight: 700;
  line-height: 1.83;
  color: #d41443;
}

.footer-copy {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 25px;
  padding-top: 22px;
  border-top: 1px solid #e1e1e1;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #907e82;
}
@media screen and (min-width: 768px) {
  .footer-copy {
    padding-bottom: 18px;
    padding-top: 29px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-copy {
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.footer-copy .text {
  display: inline-block;
  width: 150px;
}
@media screen and (min-width: 768px) {
  .footer-copy .text {
    width: 300px;
  }
}

.backUp {
  z-index: 10;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffa5ba;
  border: none;
  border-radius: 24px;
  font-family: Titan One;
  font-size: 20px;
  padding: 10px;
  color: #fff;
  box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.25);
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */