<!--<p class="reviews">this is section with gallery and reviews</p>-->
<section class="reviews">
    <div class="container">
    <h2 class="section__title visually-hidden">REVIEWS</h2>
    <div class="reviews-gallery">
        <picture>
            <source srcset="./images/reviews/gallery-mobile1.jpg 1x, ./images/reviews/gallery-mobile2.jpg 2x" media="(max-width:767px)" />
            <source srcset="./images/reviews/gallery-tablet1.jpg 1x, ./images/reviews/gallery-tablet2.jpg 2x " media="(min-width: 768px)" />
            <source srcset="./images/reviews/gallery-desctop1.jpg 1x, ./images/reviews/gallery-desctop2.jpg 2x" media="(min-width: 1200px)" />
            <img src="./images/reviews/gallery-mobile1.jpg" alt="Пример">
        </picture>    
    </div>
    
    <div class="slider-container">
                <input class="visually-hidden"type="radio" name="r" id="r1" checked>
                <input class="visually-hidden"type="radio" name="r" id="r2">
                <input class="visually-hidden"type="radio" name="r" id="r3">
                <div class="slider-box">
                    
                    
                        
                    <div class="slider-navigation">
                        <label for="r1" class="bar1"></label>
                        <label for="r2" class="bar2"></label>
                        <label for="r3" class="bar3"></label>
                    </div>
                    <div class="text-location">
                        <p class="text1">Emily, Los Angeles</p>
                        <p class="text2">Mari, Nev York</p>
                        <P class="text3">Liezel, Chikago</P>
                    </div>
                    <div class="slide">
                        <img src="./images/reviews/anna.png" alt="">
                        <img src="./images/reviews/marina.png" alt="">
                        <img src="./images/reviews/liza.png" alt="">
                    </div>                  
                        
                </div>                           
                <div class="text-container">
                    <p class="text-slider1">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                    <p class="text-slider3">Quisque cursus et, porttitor risus.Nullam viverra consectetuer.  Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                    <p class="text-slider2">Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.Nullam viverra consectetuer. Quisque cursus et, porttitor risus.</p>
                </div>                              
                <div class="point-container">
                    <span class="point"></span>
                    <span class="point"></span>
                    <span class="point"></span>
                </div>
                
                
                
            </div>
    
</div>
</section>
