.buynow-btn {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  border: none;
  border-radius: 22px;
  background-color: #fff;
  color: $accented-text;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $light-btn-hover-bgc;
  }

  &--hidden {
    @media screen and(max-width: $to-tablet) {
      padding-left: 63px;
      padding-right: 48px;
      width: 209px;
      margin-bottom: 34px;
    }
    @media screen and(min-width: $tablet) and(max-width: $to-desctop) {
      width: 186px;
      margin-left: 10px;
      padding-left: 52px;
      padding-right: 42px;
      margin-bottom: 32px;
    }
    @media screen and(min-width: $desctop) {
      width: 159px;
      padding-left: 40px;
      padding-right: 36px;
      margin-left: 110px;
    }
  }
  &--tablet {
    display: none;
    @media screen and(min-width: $tablet) and(max-width: $to-desctop) {
      display: flex;
      width: 160px;
      padding-left: 40px;
      padding-right: 36px;
      margin-right: 30px;
    }
  }
}
