.page-header {
  position: relative;
  @media screen and(min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.menu-btn {
  z-index: 10;
  display: inline-flex;
  position: absolute;
  top: 19px;
  right: 0;
  background-color: inherit;
  border: none;
  padding: 0;
}
.menu-close__icon {
  stroke: #fff;
  display: none;
}
.menu-burger__icon {
  display: block;
}
.menu-btn.is-opened {
  @media screen and(min-width: $tablet) and(max-width: $to-desctop) {
    top: -14px;
  }
  .menu-burger__icon {
    display: none;
  }
  .menu-close__icon {
    display: block;
  }
}
.menu-btn {
  @media screen and(min-width: $desctop) {
    display: none;
  }
}
